.home {
    width: 100vw;
    height: calc(100vh - 8.1rem);
    display: block;
    
}

.map {
   border: 3rem solid blueviolet;
}

.homeButton {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.btnText {
    composes: buttonText from "../../../styles/components.module.css";
}