@value tokens: "../../../styles/tokens.module.css";
@value shadeBrown from tokens;

.pigeonWrapper {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

.textBalloon {
    width: 50rem;
    padding: 3rem 5rem;
    height: 47rem;
    margin: 0 3rem 15rem 0;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(../../Chapters/assets/textBalloonReverse.svg);
}

.textBalloonContent {
    color: shadeBrown;
    font-size: 2.7rem;
    line-height: 1.4;
    margin-top: 3rem;
    font-weight: bold;
}

.frank {
    height: 4rem;
    vertical-align: bottom;
}

.glow {
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    from {
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0)); 
    }
    to { 
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1)); 
    }
}