.wrapper {
    width: 100%; 
    height: calc(100vh - 8.1rem); 
    overflow-x: scroll; 
    overflow-y: hidden; 
    background-color: blueviolet;
}

.characters {
    display: flex;
    width: 500rem;
    height: 100%;
    color: white;
    font-size: 5rem;
} 

.spacer {
    width: 150rem;
    padding: 2rem;
    background-color: blue;
}

.button {
    position: fixed;
    top: 9.5rem;
    left: 3rem;
    z-index: 99;
}

.back {
    transform: rotate(180deg);
}

@media screen and (max-width: 810px) {
    .button {
        left: 1rem;
    }
}