@value tokens: "../../../styles/tokens.module.css";
@value mainRed from tokens;

.wrapper {
    width: 100%; 
    height: calc(100vh - 8rem); 
    background-color: mainRed;
    overflow: hidden;
    background-image: url(./assets/BG.svg);
    background-size: cover;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    margin-top: 2rem;
}

.titlePersonage {
    background-image: url(./assets/personage.svg);
    padding: 2rem;
    background-repeat: no-repeat;
    font-size: 5rem;
}

.titleBord {
    background-image: url(./assets/bord.svg);
    padding: 1rem;
    font-size: 4rem;
    margin-top: -2rem;
    background-repeat: no-repeat;
}
