@import "./styles/reset.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: "3F7AD3";
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */


.loader--hide {
  display: none;
}



#root {
  font-size: 1.6rem;
  font-family: 'alegreya-sans', sans-serif;
  -webkit-tap-highlight-color: transparent;
  
}



@font-face {
  font-family: 'alegreya-sans';
  src:    url(./styles/fonts/AlegreyaSans-Regular.woff) format('woff'), 
          url(./styles/fonts/AlegreyaSans-Regular.woff2) format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'alegreya-sans';
  src:    url(./styles/fonts/AlegreyaSans-Bold.woff) format('woff'), 
          url(./styles/fonts/AlegreyaSans-Bold.woff2) format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'alegreya-sans-sc';
  src:    url(./styles/fonts/AlegreyaSansSC-Bold.woff) format('woff'), 
          url(./styles/fonts/AlegreyaSansSC-Bold.woff2) format('woff2');
  font-weight: bold;
}