/* .button {
    background-color: #5C73F2;
    outline: none;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    border-radius: .3rem;
} */

.button {
    position: relative;
    border: none;
    cursor: pointer;
    background: none;
    outline: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .buttonUnpressed {
    box-shadow: 0 .4rem 0 .1rem rgba(0,0,0,0.2);
    border-bottom: .5rem solid #142273; 
}

.buttonPressed {
    box-shadow: 0 .1rem 0 .1rem rgba(0,0,0,0.2);
    border-bottom: .3rem solid #142273; 
} */

.text {
    position: absolute;
}

.svg {
    width:100%;
}
